{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %} Iniciar sesión {% endblock title %}



{% block content %}

    <div class="app app-login p-0">
        <div class="row g-0 app-auth-wrapper">
            <div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
                <div class="d-flex flex-column align-content-end">
                    <div class="app-auth-body mx-auto">
                        <div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img
                                class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo"></a>
                        </div>
                        <h2 class="auth-heading text-center mb-5">Iniciar sesión en el sistema</h2>
                        <div class="auth-form-container text-start">
                            <form class="auth-form login-form" role="form" method="post" action="">
                                {% csrf_token %}
                                <div class="email mb-3">
                                    <label class="sr-only" for="signin-email">Email</label>
                                    {{ form.username }}
                                </div><!--//form-group-->
                                <div class="password mb-3">
                                    <label class="sr-only" for="signin-password">Contraseña</label>
                                    {{ form.password }}
                                    <div class="extra mt-3 row justify-content-between">
                                    </div><!--//extra-->

                                </div><!--//form-group-->
                                <div class="text-center">
                                    <button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Iniciar
                                        sesión
                                    </button>
                                </div>
                            </form>


                        </div><!--//custom_auth-form-container-->

                    </div><!--//custom_auth-body-->

                    {% include 'includes/footer.html' %}
                </div><!--//flex-column-->
            </div><!--//custom_auth-main-col-->
            <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
                <div class="auth-background-holder">
                </div>
                <div class="auth-background-mask"></div>
                <div class="auth-background-overlay p-3 p-lg-5">

                </div><!--//custom_auth-background-overlay-->
            </div><!--//custom_auth-background-col-->

        </div><!--//row-->
    </div>

{% endblock %}


