{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block stylesheets %}
    {#    <link href="{% static 'assets/css/drag_drog.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'assets/plugins/dropzone-5.9.3/dropzone.min.css' %}" rel="stylesheet">#}

    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
{% endblock %}

{% block javascript %}
    {#    <script src="{% static 'assets/plugins/dropzone-5.9.3/dropzone.min.js' %}"></script>#}
    {#    <script src="{% static 'assets/js/drag&drop.js' %}"></script>#}

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script>
        Dropzone.options.myDropzone = {
            paramName: "image", // Nombre del parámetro que recibirá el archivo en el servidor
            maxFilesize: 2, // Tamaño máximo del archivo en MB
            acceptedFiles: "image/*", // Tipos de archivos permitidos (en este caso, solo imágenes)
            init: function () {
                this.on("success", function (file, response) {
                    console.log("Archivo subido con éxito:", response);
                });
                this.on("error", function (file, errorMessage) {
                    console.log("Error al subir el archivo:", errorMessage);
                });
            }
        };

    </script>


{% endblock %}

{% block content %}
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">{{ entity }}</h1>
                        {% include "includes/_breadcrumbs.html" %}
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto ">
                                    {% block content_list_before %}{% endblock %}
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//table-utilities-->
                    </div><!--//col-auto-->
                </div>
                <form id="my-dropzone" class="row" method="post" action="{% url 'product_create' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="col-lg-8 mb-3 mb-lg-0">
                        <!-- Información del producto Card -->
                        <div class="app-card app-card-settings mb-3 mb-lg-5">
                            <!-- Header -->
                            <div class="app-card-header p-2 border-bottom-0">
                                <h3 class="app-card-title">
                                    <div class="app-icon-holder"><i class="bi-boxes"></i></div>
                                    Información del producto
                                </h3>
                                <hr>
                            </div>
                            <!-- End Header -->
                            <!-- Body -->
                            <div class="app-card-body px-4 w-100">
                                <!-- Form -->
                                <div class="mb-4">
                                    <label for="" class="form-label">{{ form.name.label }}</label>
                                    {% render_field form.name class="form-control" type="text" name="name" required="required" %}
                                </div>
                                <!-- End Form -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <!-- Form -->
                                        <div class="mb-4">
                                            <label for="" class="form-label">{{ form.category.label }}</label>
                                            {% render_field form.category class="form-select" placeholder="First Name" type="text" %}

                                        </div>
                                        <!-- End Form -->
                                    </div>
                                    <!-- End Col -->

                                    <div class="col-sm-6">
                                        <!-- Form -->
                                        <div class="mb-4">
                                            <label for="" class="form-label">{{ form.state.label }}</label>
                                            {% render_field form.state class="form-select" placeholder="First Name" type="text" %}
                                            <small class="form-text">Used to calculate shipping rates at checkout and
                                                label prices during fulfillment. {{ form.state.help_text }}</small>
                                        </div>
                                        <!-- End Form -->
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->


                            </div>
                            <!-- Body -->
                        </div>
                        <!-- End Card -->

                        <!-- Card media  -->
                        <div class="app-card app-card-settings mb-3 mb-lg-5">
                            <!-- Header -->
                            <div class="app-card-header p-3 border-bottom-0">
                                <div class="row align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="app-icon-holder">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"></path>
                                                <path fill-rule="evenodd"
                                                      d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"></path>
                                            </svg>
                                        </div><!--//icon-holder-->
                                    </div><!--//col-->
                                    <div class="col-auto">
                                        <h4 class="app-card-title">Foto del producto</h4>
                                    </div><!--//col-->
                                </div><!--//row-->
                                <hr>
                            </div>
                            <!-- End Header -->

                            <!-- Body -->
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="{{ form.img.id_for_label }}" class="form-label">{{ form.img.label }}</label>
                                    <!-- Dropzone -->
                                    <div id="my-dropzone"
                                         class="js-dropzone dz-dropzone dz-dropzone dz-dropzone-boxed gradient-overlay-half-primary-v4">
                                        <div class="dz-message py-6">
                                            <figure class="max-w-10rem mx-auto mb-3">
                                                <img class="img-fluid avatar-xl avatar-4x3 mb-3"
                                                     src="{% static 'assets/images/illustrations/oc-browse.svg' %}"
                                                     alt="Image Description">
                                            </figure>
                                            <span class="d-block">Drag files here to upload</span>
                                            {% render_field form.img type="file" %}
                                        </div>
                                    </div>
                                    <!-- End Dropzone -->
                                    <small class="form-text">{{ form.img.help_text }}</small>

                                </div>
                                {% render_field form.img class="form-control" type="file" %}
                                <small class="form-text">{{ form.img.help_text }}</small>

                            </div>
                            <!-- Body -->
                        </div>
                        <!-- End Card -->

                        <!-- Variants Card -->
                        <div class="app-card app-card-settings mb-3 mb-lg-5">
                            <!-- Header -->
                            <div class="app-card-header p-3 border-bottom-0">
                                <div class="row align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="app-icon-holder">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"></path>
                                                <path fill-rule="evenodd"
                                                      d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"></path>
                                            </svg>
                                        </div><!--//icon-holder-->
                                    </div><!--//col-->
                                    <div class="col-auto">
                                        <h4 class="app-card-title">Variantes del producto</h4>
                                    </div><!--//col-->
                                </div><!--//row-->
                                <hr>
                            </div>
                            <!-- End Header -->

                            <!-- Body -->
                            <div class="card-body">

                                <h6 class="text-cap">Options</h6>

                                <div class="js-add-field">
                                    <div class="row mb-4">
                                        <div class="col-sm-4 mb-2 mb-sm-0">
                                            <!-- Select -->
                                            <div class="tom-select-custom">
                                                <select class="js-select form-select tomselected ts-hidden-accessible"
                                                        data-hs-tom-select-options="{
                                &quot;searchInDropdown&quot;: false,
                                &quot;hideSearch&quot;: true
                              }" id="tomselect-2" tabindex="-1">

                                                    <option value="Color">Color</option>
                                                    <option value="Material">Material</option>
                                                    <option value="Style">Style</option>
                                                    <option value="Title">Title</option>
                                                    <option value="Size">Size</option>
                                                </select>

                                            </div>
                                            <!-- End Select -->
                                        </div>
                                        <!-- End Col -->

                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" placeholder="Enter tags"
                                                   aria-label="Enter tags">
                                        </div>
                                        <!-- End Col -->
                                    </div>
                                    <!-- End Row -->

                                    <!-- Container For Input Field -->
                                    <div id="addAnotherOptionFieldContainer"></div>

                                    <a href="javascript:;" class="js-create-field form-link">
                                        <i class="bi-plus"></i> Add another option
                                    </a>
                                </div>


                            </div>
                            <!-- Body -->
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Col -->

                    <div class="col-lg-4">

                        <!-- Other Card -->
                        <div class="app-card app-card-settings mb-3 mb-lg-5">
                            <!-- Header -->
                            <div class="app-card-header p-3 border-bottom-0">
                                <div class="row align-items-center gx-3">
                                    <div class="col-auto">
                                        <div class="app-icon-holder">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder"
                                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"></path>
                                                <path fill-rule="evenodd"
                                                      d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"></path>
                                            </svg>
                                        </div><!--//icon-holder-->
                                    </div><!--//col-->
                                    <div class="col-auto">
                                        <h4 class="app-card-title">Otros datos del producto</h4>
                                    </div><!--//col-->
                                </div><!--//row-->
                                <hr>
                            </div>
                            <!-- End Header -->

                            <!-- Body -->
                            <div class="card-body">
                                <!-- Form -->
                                <div class="md-4">
                                    <label for="" class="form-label">Cantidad de unidades</label>
                                    {% render_field form.stock class="form-control" type="number" name="unidades" min="1" max="50" step="1" required="required" %}
                                </div>
                                <!-- End Form -->

                                <hr class="my-4">

                                <div class="md-4">
                                    <div class="form-check form-switch">

                                        <label for="" class="form-label">{{ form.available.label }}
                                            <span class="ms-2" data-bs-container="body" data-bs-toggle="popover"
                                                  data-bs-trigger="hover focus" data-bs-placement="top"
                                                  data-bs-content="{{ form.available.help_text }}">
                                                   <i class="bi-info-circle"></i>
                                                </span>
                                        </label>
                                        {% render_field form.available class="form-check-input" name="available" id="id_available" type="checkbox" %}

                                        <span class="help-block valid-feedback text-black-50">{{ form.available.help_text }}</span>
                                        <span class="help-block valid-feedback text-black-50">{{ form.available.error_messages }}</span>
                                    </div>
                                </div>

                                <div class="md-4">
                                    <div class="form-check form-switch">
                                        <label for="" class="form-label">{{ form.active.label }}
                                            <span class="ms-2" data-bs-container="body" data-bs-toggle="popover"
                                                  data-bs-trigger="hover focus" data-bs-placement="top"
                                                  data-bs-content="{{ form.active.help_text }}">
                                                   <i class="bi-info-circle"></i>
                                                </span>
                                        </label>
                                        {% render_field form.active class="form-check-input" type="checkbox" name="active" id="id_active" %}

                                        <span class="help-block  valid-feedback text-black-50">{{ form.active.help_text }}</span>
                                    </div>
                                </div>

                            </div>
                            <!-- Body -->
                        </div>
                        <!-- End Card -->

                    </div>
                    <!-- End Col -->

                    <!-- Buttons Options  -->
                    <div class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3"
                         style="max-width: 40rem;">
                        <!-- Card -->
                        <div class="app-card card-sm bg-dark bg-blur border border-2 border-primary shadow mx-2">
                            <div class="card-body">
                                <div class="row justify-content-center justify-content-sm-between">
                                    <div class="col">

                                    </div>
                                    <!-- End Col -->

                                    <div class="col-auto">
                                        <div class="d-flex gap-3">
                                            <a href="{{ list_url }}" class="btn btn-ghost-light">
                                                Descartar</a>

                                            <button type="submit" class="btn app-btn-primary">
                                                <i class="bi-archive"></i> Guardar
                                            </button>
                                        </div>
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Buttons Options -->

                </form>


            </div><!--//container-fluid-->
        </div><!--//app-content-->
    </div><!--//app-wrapper-->
{% endblock %}
