{% extends "layouts/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/glightbox/css/glightbox.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static 'assets/plugins/glightbox/js/glightbox.js' %}"></script>
    <script>
        var e = {
            init: function () {
                e.lightBox();
            },
            // START: GLightbox
            lightBox: function () {
                var light = e.select('[data-glightbox]');
                if (e.isVariableDefined(light)) {
                    var lb = GLightbox({
                        selector: '*[data-glightbox]',
                        openEffect: 'fade',
                        closeEffect: 'fade'
                    });
                }
            },
            // END: GLightbox
        }
    </script>

    <script type="text/javascript">
        function deleteProduct(id) {
            var parameters = new FormData();
            parameters.append('id', id)
            var url = `/inventory/delete/${id}/`

            delete_with_ajax(url, 'Confirmar Eliminación', '¿Estás seguro de que quieres eliminar este producto? Esta acción no se puede deshacer.', parameters, function (response) {
                if (response.ok)
                    window.history.back();
                window.reload()
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="col-auto">
                    <h1 class="app-page-title mb-0">{{ entity }}</h1>
                    {% include "includes/_breadcrumbs.html" %}
                    <hr class="mb-4">
                </div><!--//col-auto-->

                <section class="settings-section row g-4">
                    <div class="col-12 col-md-8">
                        {% include 'inventory/_nav_tab_option.html' %}
                        <div class="tab-content" id="orders-table-tab-content">
                            <div class="tab-pane fade show active" id="detail-product" role="tabpanel"
                                 aria-labelledby="detail-product-tab">

                                <div class="app-card app-card-account shadow-sm  p-3">

                                    <!-- Header -->
                                    <div class="app-card-header p-1 border-bottom-0">
                                        <div class="row justify-content-between align-items-center gx-3">
                                            <div class="col-auto">
                                                <div class="row align-items-center gx-3">
                                                    <div class="col-auto">
                                                        <h3 class="app-card-title">
                                                            <div class="app-icon-holder"><i class="bi-boxes"></i>
                                                            </div>
                                                        </h3>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h4 class="app-card-title">{{ title }}</h4>
                                                    </div><!--//col-->
                                                </div>
                                                <!--//icon-holder-->
                                            </div><!--//col-->
                                            <div class="col-auto">
                                                {% if object.recently_created %}
                                                    <span class="badge bg-success">NUEVO</span>
                                                {% endif %}
                                            </div><!--//col-->
                                        </div><!--//row-->
                                        <hr>
                                    </div><!--//app-card-header-->
                                    <!-- End Header -->

                                    <div class="app-card-body px-4 w-100">
                                        <div class="item border-bottom py-3">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-auto">
                                                    <div class="item-label"><strong>Nombre del
                                                        producto</strong></div>
                                                    <div class="item-data">{{ object.name }}</div>
                                                </div>
                                                <!--//col-->
                                            </div>
                                            <!--//row-->
                                        </div><!--//item-->
                                        <div class="item border-bottom py-3">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-auto">
                                                    <div class="item-label"><strong>Categoría del
                                                        producto</strong></div>
                                                    <div class="item-data">{{ object.category }}</div>
                                                </div>
                                                <!--//col-->
                                            </div>
                                            <!--//row-->
                                        </div><!--//item-->
                                        <div class="item border-bottom py-3">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-auto">
                                                    <div class="item-label"><strong>Cantidad de
                                                        unidades</strong></div>
                                                    <div class="item-data">
                                                        {{ object.stock }}
                                                    </div>
                                                </div>
                                                <!--//col-->

                                            </div>
                                            <!--//row-->
                                        </div><!--//item-->
                                        <div class="item border-bottom py-3">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="col-auto">
                                                    <div class="item-label"><strong>Estado</strong></div>
                                                    <div class="item-data">
                                                        {% if object.state == 'D' %}
                                                            <span class="badge bg-success"> Disponible </span>
                                                        {% elif object.state == 'P' %}
                                                            <span class="badge bg-warning"> Prestado </span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <!--//col-->
                                            </div>
                                            <!--//row-->
                                        </div><!--//item-->
                                    </div><!--//app-card-body-->


                                </div><!--//app-card-->

                            </div>
                            <!--//tab-pane-->

                        </div><!--//tab-content-->
                    </div>
                    <!-- Image -->
                    <div class="col-12 col-md-4">
                        <div class="app-card rounded-8">
                            <div class="card-body d-flex flex-column align-items-center p-1">

                                <a data-glightbox data-gallery="gallery" href="{{ object.img.url }}">
                                    <div class="card border-0 ">

                                        <div class="col-lg-5 order-lg-2 pl-lg-0 w-100 h-100">
                                            <!-- Image -->
                                            <img src="{{ object.img.url }}" class="w-100  rounded-5"
                                                 alt="Imagen de {{ object.name }}">
                                        </div>


                                        <!-- Full screen button -->
                                        <div class="hover-element position-absolute w-100 h-100">
                                            <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- END Image -->


                    <!-- Buttons Options  -->
                    <div class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3"
                         style="max-width: 40rem;">
                        <!-- Card -->
                        <div class="app-card card-sm bg-dark bg-blur border border-2 border-primary shadow mx-2">
                            <div class="card-body">
                                <div class="row justify-content-center justify-content-sm-between">
                                    <div class="col">
                                        <a href="{{ list_url }}" class="btn btn-ghost-light">
                                            Descartar</a>
                                    </div>
                                    <!-- End Col -->

                                    <div class="col-auto">
                                        <div class="d-flex gap-3">
                                            <a role="button" onclick="deleteProduct({{ object.id }})"
                                               class="btn app-btn-outline-danger">
                                                <i class="bi bi-trash me-2"></i>Eliminar
                                            </a>

                                            <a class="btn app-btn-primary"
                                               href="{% url 'product_update' object.pk %}">
                                                <i class="bi-pencil-square me-2"></i>Editar
                                            </a>


                                        </div>
                                    </div>
                                    <!-- End Col -->
                                </div>
                                <!-- End Row -->
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>
                    <!-- End Buttons Options -->
                </section>

            </div><!--//container-fluid-->
        </div><!--//app-content-->
    </div><!--//app-wrapper-->
{% endblock %}

