{% load static %}
{% load groups_tags %}


<div class="dropdown-icon">
    <button type="button"
            class="btn p-0 hide-arrow"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>

    <ul class="dropdown-menu" style="font-size: 14px;">

        {% if object.state == 'P' %}
            {% if request.user|has_group:"tecnico" %}

                <li><a class="dropdown-item" href="{% url 'order_detail' object.pk %}">
                    <span><i class="bi bi-eye"></i> Ver</span>
                </a></li>
                <li><a class="dropdown-item" href="{% url 'order_invoice_pdf' object.pk %}" target="_blank">
                    <span><i class="bi bi-file-earmark-pdf"></i> Descargar pdf</span>
                </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item text-primary" href="{% url 'order_approve' object.pk %}">
                    <i class="bi bi-file-earmark-check"></i>
                    {#                  <i class="fas fa-check-square"></i>#}
                    Aprobar</a></li>
                <li><a class="dropdown-item text-danger" href="{% url 'order_deny' object.pk %}">
                    <i class="bi bi-file-earmark-x"></i>
                    Denegar</a></li>

            {% else %}

                <li><a class="dropdown-item" href="{% url 'order_detail' object.pk %}">
                    <span><i class="bi bi-eye m-1"></i>  Ver</span>
                </a></li>
                <li><a class="dropdown-item" href="{% url 'order_update' object.pk %}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16"
                         class="bi bi-pencil me-2" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg>
                    Editar</a></li>
                <li><a class="dropdown-item" href="{% url 'order_invoice_pdf' object.pk %}" target="_blank">
                    <span><i class="bi bi-file-earmark-pdf m-1"></i> Descargar pdf</span>
                </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger" role="button"
                       onclick="deleteOrder('{{ object.pk|escapejs }}')">
                        <i class="bi-trash me-2"></i> Eliminar</a>
                </li>

            {% endif %}

        {% elif object.state == 'A' %}
            {% if request.user|has_group:"tecnico" %}

                <li><a class="dropdown-item" href="{% url 'order_detail' object.pk %}">
                    <span><i class="bi bi-eye"></i> Ver</span>
                </a></li>
                <li><a class="dropdown-item" href="{% url 'order_invoice_pdf' object.pk %}" target="_blank">
                    <span><i class="bi bi-file-earmark-pdf"></i> Descargar pdf</span>
                </a></li>

            {% else %}

                <li><a class="dropdown-item" href="{% url 'order_detail' object.pk %}">
                    <span><i class="bi bi-eye"></i> Ver</span>
                </a></li>
                <li><a class="dropdown-item" href="{% url 'order_invoice_pdf' object.pk %}" target="_blank">
                    <span><i class="bi bi-file-earmark-pdf"></i> Descargar pdf</span>
                </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger" role="button"
                       onclick="deleteOrder('{{ object.pk|escapejs }}')">
                        <i class="bi-trash me-2"></i> Eliminar</a>
                </li>

            {% endif %}

        {% elif object.state == 'R' %}
            {% if request.user|has_group:"tecnico" %}

                <li><a class="dropdown-item" href="{% url 'order_detail' object.pk %}">
                    <span><i class="bi bi-eye"></i> Ver</span>
                </a></li>
                <li><a class="dropdown-item" href="{% url 'order_invoice_pdf' object.pk %}" target="_blank">
                    <span><i class="bi bi-file-earmark-pdf"></i> Descargar pdf</span>
                </a></li>

            {% else %}

                <li><a class="dropdown-item" href="{% url 'order_detail' object.pk %}">
                    <span><i class="bi bi-eye"></i> Ver</span>
                </a></li>
                <li><a class="dropdown-item" href="{% url 'order_invoice_pdf' object.pk %}" target="_blank">
                    <span><i class="bi bi-file-earmark-pdf"></i> Descargar pdf</span>
                </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item text-danger" role="button"
                       onclick="deleteOrder('{{ object.pk|escapejs }}')">
                        <i class="bi-trash me-2"></i> Eliminar</a>
                </li>

            {% endif %}
        {% endif %}
    </ul>
</div>


