{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load groups_tags %}

{% block content %}
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">{{ entity }}</h1>
                        {% include "includes/_breadcrumbs.html" %}
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <form method="get" class="docs-search-form row gx-1 align-items-center">
                                        <div class="col-auto">
                                            {% render_field filter.form.description class="form-control" placeholder="Buscar" %}
                                        </div>
                                        <div class="col-auto">
                                            {% render_field filter.form.manifestation class="form-select w-auto" %}
                                        </div>
                                        <div class="col-auto">
                                            {% render_field filter.form.state class="form-select w-auto" %}
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn app-btn-secondary">
                                                <i class="bi bi-search"></i> Buscar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <!--//col-auto-->

                                {% if request.user|has_group:"tecnico" %}

                                {% else %}
                                    <div class="col-auto">
                                        <a href="{{ create_url }}" class="create btn app-btn-primary">
                                            <i class="bi bi-plus-circle"></i> Hacer un pedido
                                        </a>
                                    </div><!--//col-auto-->
                                {% endif %}

                            </div>
                            <!--//row-->
                        </div>
                        <!--//table-utilities-->
                    </div>
                    <!--//col-auto-->
                </div>
                <!--//row-->
                <nav id="orders-table-tab"
                     class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                    <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
                       href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Todos</a>

                    <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
                       href="#orders-pending" role="tab" aria-controls="orders-pending"
                       aria-selected="false">Pendiente</a>

                    <a class="flex-sm-fill text-sm-center nav-link" id="orders-approved-tab" data-bs-toggle="tab"
                       href="#orders-approved" role="tab" aria-controls="orders-approved"
                       aria-selected="false">Aprobados</a>

                    <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab"
                       href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">No
                        Aprobados</a>
                </nav>
                {% if filter.qs %}
                    <div class="tab-content" id="orders-table-tab-content">
                        <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                             aria-labelledby="orders-all-tab">
                            <div class="app-card app-card-orders-table shadow-sm mb-5">
                                <div class="app-card-body">
                                    <div class="table-responsive">
                                        <table class="table app-table-hover mb-0 text-left">
                                            <thead>
                                            <tr>
                                                <th class="cell">Fecha de registro</th>
                                                <th class="cell">Descripción</th>
                                                <th class="cell">Fecha de inicio</th>
                                                <th class="cell">Fecha de devolución</th>
                                                <th class="cell">Manifestación</th>
                                                <th class="cell">Estado</th>
                                                <th class="cell" style="width: 4%;"></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for object in filter.qs %}

                                                <tr>
                                                    <td class="cell">
                                                        <span>{{ object.created |date:"j F, Y" }}</span>
                                                        <span class="note">{{ object.created|date:' H:i' }}</span>
                                                    </td>
                                                    <td class="cell">
                                                        {{ object.description | truncatewords_html:30 }}
                                                    </td>
                                                    <td class="cell">
                                                        <span>{{ object.start_date |date:"j F, Y" }}</span>
                                                    </td>
                                                    <td class="cell">
                                                        <span>{{ object.end_date |date:"j F, Y" }}</span>
                                                    </td>
                                                    <td class="cell">
                                                        <span class="truncate">{{ object.manifestation }}</span>
                                                    </td>
                                                    <td class="cell">
                                                        {% if object.state == 'Pendiente' %}
                                                            <span class="badge bg-warning"> Pendiente </span>
                                                        {% elif object.state == 'Aprobado' %}
                                                            <span class="badge bg-success"> Aprobado </span>
                                                        {% else %}
                                                            <span class="badge bg-danger"> No Aprobado </span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="cell">
                                                        {% include 'order/_app_li_actions.html' %}
                                                    </td>
                                                </tr>

                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div><!--//table-responsive-->
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                        </div><!--//tab-pane-->

                        <div class="tab-pane fade" id="orders-pending" role="tabpanel"
                             aria-labelledby="orders-pending-tab">
                            <div class="app-card app-card-orders-table  mb-5">
                                <div class="app-card-body ">
                                    <div class="table-responsive">
                                        <table class="table app-table-hover mb-0 text-left">
                                            <thead>
                                            <tr>
                                                <th class="cell">Fecha de registro</th>
                                                <th class="cell">Descripción</th>
                                                <th class="cell">Fecha de inicio</th>
                                                <th class="cell">Fecha de devolución</th>
                                                <th class="cell">Manifestación</th>
                                                <th class="cell">Estado</th>
                                                <th class="cell" style="width: 10%;"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in filter.qs %}
                                                {% if object.state == 'Pendiente' %}
                                                    <tr>
                                                        <td class="cell">
                                                            <span>{{ object.created |date:"j F, Y" }}</span>
                                                            <span class="note">{{ object.created|date:' H:i' }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            {{ object.description | truncatewords_html:30 }}</td>
                                                        <td class="cell">
                                                            <span>{{ object.start_date |date:"j F, Y" }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            <span>{{ object.end_date |date:"j F, Y" }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            <span class="truncate">{{ object.manifestation }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            {% if object.state == 'Pendiente' %}
                                                                <span class="badge bg-warning"> Pendiente </span>
                                                            {% elif object.state == 'Aprobado' %}
                                                                <span class="badge bg-success"> Aprobado </span>
                                                            {% else %}
                                                                <span class="badge bg-danger"> No Aprobado </span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="cell">
                                                            {% include 'order/_app_li_actions.html' %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--//table-responsive-->
                                </div>
                                <!--//app-card-body-->
                            </div>
                            <!--//app-card-->
                        </div><!--//tab-pane-->

                        <div class="tab-pane fade" id="orders-approved" role="tabpanel"
                             aria-labelledby="orders-approved-tab">
                            <div class="app-card app-card-orders-table  mb-5">
                                <div class="app-card-body">
                                    <div class="table-responsive">
                                        <table class="table app-table-hover mb-0 text-left">
                                            <thead>
                                            <tr>
                                                <th class="cell">Fecha de registro</th>
                                                <th class="cell">Descripción</th>
                                                <th class="cell">Fecha de inicio</th>
                                                <th class="cell">Fecha de devolución</th>
                                                <th class="cell">Manifestación</th>
                                                <th class="cell">Estado</th>
                                                <th class="cell"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in filter.qs %}
                                                {% if object.state == 'Aprobado' %}
                                                    <tr>
                                                        <td class="cell">
                                                            <span>{{ object.created |date:"j F, Y" }}</span>
                                                            <span class="note">{{ object.created|date:' H:i' }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            {{ object.description | truncatewords_html:30 }}</td>
                                                        <td class="cell">
                                                            <span>{{ object.start_date |date:"j F, Y" }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            <span>{{ object.end_date |date:"j F, Y" }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            <span class="truncate">{{ object.manifestation }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            {% if object.state == 'Pendiente' %}
                                                                <span class="badge bg-warning"> Pendiente </span>
                                                            {% elif object.state == 'Aprobado' %}
                                                                <span class="badge bg-success"> Aprobado </span>
                                                            {% else %}
                                                                <span class="badge bg-danger"> No Aprobado </span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="cell">

                                                            {% include 'order/_app_li_actions.html' %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div><!--//table-responsive-->
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                        </div><!--//tab-pane-->

                        <div class="tab-pane fade" id="orders-cancelled" role="tabpanel"
                             aria-labelledby="orders-cancelled-tab">
                            <div class="app-card app-card-orders-table  mb-5">
                                <div class="app-card-body">
                                    <div class="table-responsive">
                                        <table class="table app-table-hover mb-0 text-left">
                                            <thead>
                                            <tr>
                                                <th class="cell">Fecha de registro</th>
                                                <th class="cell">Descripción</th>
                                                <th class="cell">Fecha de inicio</th>
                                                <th class="cell">Fecha de devolución</th>
                                                <th class="cell">Manifestación</th>
                                                <th class="cell">Estado</th>
                                                <th class="cell"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in filter.qs %}
                                                {% if object.state == 'No Aprobado' %}
                                                    <tr>
                                                        <td class="cell">
                                                            <span>{{ object.created |date:"j F, Y" }}</span>
                                                            <span class="note">{{ object.created|date:' H:i' }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            {{ object.description | truncatewords_html:30 }}</td>
                                                        <td class="cell">
                                                            <span>{{ object.start_date |date:"j F, Y" }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            <span>{{ object.end_date |date:"j F, Y" }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            <span class="truncate">{{ object.manifestation }}</span>
                                                        </td>
                                                        <td class="cell">
                                                            {% if object.state == 'Pendiente' %}
                                                                <span class="badge bg-warning"> Pendiente </span>
                                                            {% elif object.state == 'Aprobado' %}
                                                                <span class="badge bg-success"> Aprobado </span>
                                                            {% else %}
                                                                <span class="badge bg-danger"> No Aprobado </span>
                                                            {% endif %}
                                                        </td>
                                                        <td class="cell">
                                                            {% include 'order/_app_li_actions.html' %}
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div><!--//table-responsive-->
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                        </div><!--//tab-pane-->
                        {#                        {% include 'includes/app_pagination.html' %}#}
                    </div><!--//tab-content-->
                {% else %}
                    <div class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration" role="alert">
                        <div class="inner">
                            <div class="app-card-body p-3 p-lg-4">
                                <h3 class="mb-3">{{ request.user.get_short_name }} lo sentimos 😢
                                </h3>
                                <div class="row gx-5 gy-3">
                                    <div class="col-12 col-lg-9">
                                        <div>No encontramos ningún pedido, desea
                                            <a href="{% url 'order_create' %} " class="text-primary">hacer un
                                                pedido.</a>
                                        </div>
                                    </div><!--//col-->
                                </div><!--//row-->
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div><!--//app-card-body-->
                        </div><!--//inner-->
                    </div><!--//app-card-->
                {% endif %}
            </div><!--//container-fluid-->
        </div><!--//app-content-->
    </div><!--//app-wrapper-->
{% endblock %}