{% extends 'includes/list.html' %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}

    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/glightbox/css/glightbox.css' %}">


{% endblock %}

{% block javascript %}
    <script src="{% static 'assets/plugins/glightbox/js/glightbox.js' %}"></script>

    <!-- Moment -->
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>

    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>


    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>

    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'order/js/form.js' %}"></script>

    <script>
        order.details.products = {{ products|safe }};
    </script>
{% endblock %}



{% block content %}
    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">{{ entity }}</h1>
                        {% include "includes/_breadcrumbs.html" %}
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto ">
                                    {% block content_list_before %}{% endblock %}
                                </div><!--//col-->
                            </div><!--//row-->
                        </div><!--//table-utilities-->
                    </div><!--//col-auto-->
                </div>

                <form id="frmOrder" class="app-card-settings " method="post" data-url="{{ list_url }}">
                    {% csrf_token %}
                    <div class=" settings-form row g-3 mb-5  align-items-start">

                        <div class="app-card-header p-3 border-bottom-0">
                            <h4 class="app-card-title">{{ title }}</h4>
                            <hr>
                        </div>

                        <div class="app-card-body w-100">
                            <div class="row">
                                <!--    Detalles de los productos -->
                                <div class="col-lg-8">
                                    <div class="app-card app-card-orders-table shadow-sm mb-5  align-items-start">
                                        <div class="app-card-header p-2 border-bottom-0">
                                            <h3 class="app-card-title">
                                                <div class="app-icon-holder">
                                                    <i class="bi bi-box-seam fa-2x"></i>
                                                    {#                                                    <i class="fas fa-boxes"></i>#}
                                                </div>
                                                Detalles de los productos
                                            </h3>
                                            <hr>
                                        </div>
                                        <div class="app-card-body w-100">
                                            <div class="container-fluid settings-section">
                                                <div class="form-group settings-form">
                                                    <label class="form-label">Buscador de productos</label>
                                                    <div class="input-group input-group-sm mb-3">
                                                        <select class="form-control select2" name="search_product">
                                                        </select>
                                                        <button class="btn app-btn app-btn-secondary dropdown-toggle"
                                                                type="button" data-bs-toggle="dropdown"
                                                                aria-expanded="false">Opciones
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end">
                                                            <li><a class="dropdown-item btnSearchProducts" href="#">
                                                                <i class="bi-search me-2"></i> Buscar productos</a>
                                                            </li>
                                                            <li><a class="dropdown-item btnClearSearch" href="#">
                                                                <i class="bi-x-circle me-2"></i> Limpiar búsqueda</a>
                                                            </li>
                                                            <li>
                                                                <hr class="dropdown-divider">
                                                            </li>
                                                            <li><a class="dropdown-item btnRemoveAll" href="#">
                                                                <i class="bi-trash me-2"></i> Eliminar todos mis
                                                                items</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr>
                                                <table class="table app-table-hover mb-0 text-left "
                                                       id="tblProducts">
                                                    <thead>
                                                    <tr>
                                                        <th class="cell"></th>
                                                        <th class="cell">IMAGEN</th>
                                                        <th class="cell">PRODUCTO</th>
                                                        <th class="cell">CATEGORIA</th>
                                                        <th class="cell">DISPONIBLE</th>
                                                        <th class="cell">CANT. DESEADA</th>
                                                        <th class="cell">ESTADO</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="app-card-footer p-2"></div>
                                    </div>
                                </div>
                                <!--   Datos del pedido -->
                                <div class="col-lg-4">
                                    <div class="app-card  app-card-orders-table shadow-sm mb-5 align-items-start">
                                        <div class="app-card-header p-2 border-bottom-0">
                                            <h3 class="app-card-title">

                                                <div class="app-icon-holder">
                                                    <i class="bi bi-cart2 fa-2x"
                                                       style="line-height: 0;"></i>
                                                </div>
                                                Datos del pedido
                                            </h3>
                                            <hr>
                                        </div>
                                        <div class="app-card-body">
                                            <div class="container-fluid">
                                                <input type="hidden" name="action" value="{{ action }}">
                                                <div class="form-group py-1">
                                                    <label class="form-label">Rango de fecha</label>
                                                    {{ form.date_range }}
                                                </div>
                                                <div class="form-group py-1">
                                                    <label class="form-label">Manifestación</label>
                                                    {{ form.manifestation }}
                                                </div>
                                                <div class="form-group py-1">
                                                    <label class="form-label">Descripción - (Opcional)</label>
                                                    {{ form.description }}
                                                </div>
                                                {% if form.state %}
                                                    <div class="form-group py-1">
                                                        <label class="form-label">Estado</label>
                                                        {{ form.state }}
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                        <div class="app-card-footer p-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="app-card-footer p-4 mt-auto">
                            <!-- Buttons Options  -->
                            <div class="position-fixed start-50 bottom-0 translate-middle-x w-100 zi-99 mb-3"
                                 style="max-width: 40rem;">
                                <!-- Card -->
                                <div class="app-card card-sm bg-dark bg-blur border border-2 border-primary shadow mx-2">
                                    <div class="card-body">
                                        <div class="row justify-content-center justify-content-sm-between">
                                            <div class="col">

                                            </div>
                                            <!-- End Col -->

                                            <div class="col-auto">
                                                <div class="d-flex gap-3">
                                                    <a href="{{ list_url }}" class="btn btn-ghost-light">
                                                        Descartar</a>
                                                    <button type="submit" class="btn app-btn-primary">
                                                        <i class="bi-archive"></i> Guardar
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- End Col -->
                                        </div>
                                        <!-- End Row -->
                                    </div>
                                </div>
                                <!-- End Card -->
                            </div>
                            <!-- End Buttons Options -->
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block modal %}
    <div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document"
             data-bs-backdrop="false">
            <div class=" modal-content rounded-8  app-card app-card-orders-table">

                <div class="modal-header ">
                    <h5 class="modal-title">
                        <div class="app-icon-holder">
                            <i class="bi bi-search fa-2x" style="line-height: 0;"></i>
                        </div>
                        Buscar productos
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body app-card-body app-card-orders-table p-3 mt-auto">
                    <table class="table app-table-hover mb-0 text-left " id="tblSearchProducts">
                        <thead>
                        <tr>
                            <th class="cell">PRODUCTO</th>
                            <th class="cell">IMAGEN</th>
                            <th class="cell">DISPONIBILIDAD</th>
                            <th class="cell">CATEGORIA</th>
                            <th class="cell">ACCIONES</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
