{% if stats %}
    <div class="row">
        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="app-card  card-hover-shadow h-100">
                <div class="card-body">
                    <h6 class="card-subtitle ">Total de Pedidos</h6>

                    <div class="row align-items-center gx-2 mb-1">
                        <div class="col-6">
                            <h2 class="card-title text-inherit text-secondary"> {{ stats.total_orders }}</h2>
                        </div>
                        <!-- End Col -->

                        <div class="col-6">

                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <span class="badge bg-soft-success text-success">
                <i class="bi-graph-up"></i> 12.5% {{ stats.increase }}
              </span>
                    <span class="text-body fs-6 ms-1">a partir de {{ stats.last_month_orders }}


                </span>
                </div>
            </div>
            <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
            <!-- Card -->
            <div class="app-card card-hover-shadow h-100" href="#">
                <div class="card-body">
                    <h6 class="card-subtitle">Pedidos aprobados</h6>

                    <div class="row align-items-center gx-2 mb-1">
                        <div class="col-6">
                            <h2 class="card-title text-inherit text-success">{{ stats.total_orders_approve }}</h2>
                        </div>
                        <!-- End Col -->

                        <div class="col-6">

                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <span class="badge bg-soft-success text-success">
                <i class="bi-graph-up"></i> 1.7%
              </span>
                    <span class="text-body fs-6 ms-1">from 29.1%</span>
                </div>
            </div>
            <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
            <!-- Card Rechazados-->
            <div class="app-card card-hover-shadow h-100" href="#">
                <div class="card-body">
                    <h6 class="card-subtitle">Pedidos Rechazados</h6>

                    <div class="row align-items-center gx-2 mb-1">
                        <div class="col-6">
                            <h2 class="card-title text-inherit text-danger">{{ stats.total_orders_rejected }}</h2>
                        </div>
                        <!-- End Col -->

                        <div class="col-6">

                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <span class="badge bg-soft-danger text-danger">
                <i class="bi-graph-down"></i> 4.4%
              </span>
                    <span class="text-body fs-6 ms-1">from 61.2%</span>
                </div>
            </div>
            <!-- End Card -->
        </div>

        <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
            <!-- Card pendientes-->
            <div class="app-card card-hover-shadow h-100" href="#">
                <div class="card-body">
                    <h6 class="card-subtitle">Pedidos pendientes</h6>

                    <div class="row align-items-center gx-2 mb-1">
                        <div class="col-6">
                            <h2 class="card-title text-inherit text-warning">{{ stats.total_orders_pending }}</h2>
                        </div>
                        <!-- End Col -->

                        <div class="col-6">

                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->

                    <span class="badge bg-soft-secondary text-body">0.0%</span>
                    <span class="text-body fs-6 ms-1">from 2,913</span>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
{% endif %}
