{% load static %}


<div class="dropdown-icon">
    <button type="button"
            class="btn p-0 hide-arrow"
            data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical"></i></button>

    <ul class="dropdown-menu" style="font-size: 14px;">

        <li><a class="dropdown-item" href="{% url 'loan_detail' object.pk %}">
            <span><i class="bi bi-eye"></i> Ver</span></a>
        </li>
        <li><a class="dropdown-item" href="{% url 'loan_invoice_pdf' object.pk %}" target="_blank">
            <span><i class="bi bi-file-earmark-pdf"></i> Descargar pdf</span>
        </a></li>

        {% if object.state == 'Pendiente' %}

            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-primary" href="{% url 'order_approve' object.pk %}">
                <i class="bi bi-file-earmark-check"></i>
                {#                  <i class="fas fa-check-square"></i>#}
                Aprobar</a></li>
            <li><a class="dropdown-item text-danger" href="{% url 'order_deny' object.pk %}">
                <i class="bi bi-file-earmark-x"></i>
                Denegar</a></li>

        {% elif object.state == 'Prestado' %}
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-primary" href="{% url 'order_approve' object.pk %}">
                <i class="bi bi-file-earmark-check"></i>
                {#                  <i class="fas fa-check-square"></i>#}
                Aprobar</a></li>
            <li><a class="dropdown-item text-danger" href="{% url 'order_deny' object.pk %}">
                <i class="bi bi-file-earmark-x"></i>
                Denegar</a></li>

        {% endif %}
    </ul>
</div>


