<div class=" app-card card-body mb-3 mb-lg-5">
    <div class="row col-lg-divider gx-lg-6">
        <div class="col-lg-3">
            <!-- Media -->
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h6 class="card-subtitle mb-3">In-store Sales</h6>
                    <h3 class="card-title">$7,820.75</h3>

                    <div class="d-flex align-items-center">
                        <span class="d-block fs-6">5k orders</span>
                        <span class="badge bg-soft-success text-success ms-2">
                    <i class="bi-graph-up"></i> 4.3%
                  </span>
                    </div>
                </div>

                <span class="icon icon-soft-secondary icon-sm icon-circle ms-3">
                <i class="bi-shop"></i>
              </span>
            </div>
            <!-- End Media -->
        </div>
        <!-- End Col -->

        <div class="col-lg-3">
            <!-- Media -->
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h6 class="card-subtitle mb-3">Website Sales</h6>
                    <h3 class="card-title">$985,937.45</h3>

                    <div class="d-flex align-items-center">
                        <span class="d-block fs-6">21k orders</span>
                        <span class="badge bg-soft-success text-success ms-2">
                    <i class="bi-graph-up"></i> 12.5%
                  </span>
                    </div>
                </div>

                <span class="icon icon-soft-secondary icon-sm icon-circle ms-3">
                <i class="bi-layout-text-window-reverse"></i>
              </span>
            </div>
            <!-- End Media -->
        </div>
        <!-- End Col -->

        <div class="col-lg-3">
            <!-- Media -->
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h6 class="card-subtitle mb-3">Discount</h6>
                    <h3 class="card-title">$15,503.00</h3>

                    <div class="d-flex align-items-center">
                        <span class="d-block fs-6">6k orders</span>
                    </div>
                </div>

                <span class="icon icon-soft-secondary icon-sm icon-circle ms-3">
                <i class="bi-percent"></i>
              </span>
            </div>
            <!-- End Media -->
        </div>
        <!-- End Col -->

        <div class="col-lg-3">
            <!-- Media -->
            <div class="d-flex">
                <div class="flex-grow-1">
                    <h6 class="card-subtitle mb-3">Affiliate</h6>
                    <h3 class="card-title">$3,982.53</h3>

                    <div class="d-flex align-items-center">
                        <span class="d-block fs-6">150 orders</span>
                        <span class="badge bg-soft-danger text-danger ms-2">
                    <i class="bi-graph-down"></i> 4.4%
                  </span>
                    </div>
                </div>

                <span class="icon icon-soft-secondary icon-sm icon-circle ms-3">
                <i class="bi-people"></i>
              </span>
            </div>
            <!-- End Media -->
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>
