{% load static %}
{% load widget_tweaks %}

<div class="d-grid d-sm-flex gap-2">
    <!-- Datatable Info -->
    <div id="datatableCounterInfo" style="display: none;">
        <div class="d-flex align-items-center">
                <span class=" me-3">
                  <span id="datatableCounter">0</span>
                  Seleccionado
                </span>

            <a class="btn app-btn-secondary app-btn-outline-danger btn-sm" href="javascript:;"
               onclick="eliminarFilas()">
                <i class="bi-trash"></i> Delete
            </a>


        </div>
    </div>
    <!-- End Datatable Info -->


    <!-- Dropdown -->
    <div class="dropdown">
        <button type="button" class="btn app-btn-secondary w-100" id="FilterDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-filter me-1"></i> Filtrar
            <span id="filterCount" class="badge bg-soft-secondary text-primary rounded-pill ms-2">2</span>
        </button>

        <div class="dropdown-menu bg-dark bg-blur shadow mx-2"
             aria-labelledby="FilterDropdown" style="min-width: 22rem;">
            <!-- Card -->
            <div class="m-0 app-card-settings">
                <div class="app-card-header card-header-content-between m-2">
                    <div class="row  justify-content-between align-items-center gx-3">
                        <div class="col-auto ">
                            <h5 class="card-header-title text-primary">Filtros</h5>
                        </div><!--//col-->
                        <div class="col-auto">
                            <!-- Toggle Button -->
                            <button type="button"
                                    class="btn btn-ghost-secondary btn-icon btn-sm ms-2">
                                <i class="bi-x-lg"></i>
                            </button>
                            <!-- End Toggle Button -->
                        </div><!--//col-->
                    </div><!--//row-->

                </div>
                <div class="app-card-body m-2">
                    <form method="get" class="settings-form">
                        <div class="row  ">
                            <div class="col-12 mb-2">
{#                                <label class="form-label text-body">Por fecha del pedido</label>#}
                                <small class="text-cap text-body">Por fecha del pedido</small>
                                {% render_field filter.form.date_update class="form-select" %}
                            </div>
                            <!-- End Col -->
                            <div class="col-12 mb-2">
                                <small class="text-cap text-body">Por estado del préstamo</small>
                                {% render_field filter.form.state class="form-select" %}
                            </div>
                            <!-- End Col -->
                        </div>
                        <!-- End Row -->
                        <div class="d-grid">
                            <button type="submit" class="btn app-btn-primary">Aplicar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
    <!-- End Dropdown -->

    <!-- Dropdown -->
    <div class="dropdown">
        <button type="button" class="btn app-btn-secondary dropdown-toggle w-100"
                id="TableExportDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-download me-2"></i> Export
        </button>

        <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="TableExportDropdown">
            <span class="dropdown-header">Options</span>
            <a id="export-copy" class="dropdown-item" href="#">
                <img class="avatar avatar-4x3 me-2"
                     src="{% static 'assets/images/options/copy-icon.svg' %}" alt="Image Description">
                Copy
            </a>
            <a id="export-print" class="dropdown-item" href="#">
                <img class="avatar avatar-xss avatar-4x3 me-2"
                     src="{% static 'assets/images/options/print-icon.svg' %}" alt="Image Description">
                Print
            </a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-header">Download options</span>
            <a id="export-excel" class="dropdown-item" href="#">
                <img class="avatar avatar-xss avatar-4x3 me-2"
                     src="{% static 'assets/images/options/excel-icon.svg' %}" alt="Image Description">
                Excel
            </a>
            <a id="export-csv" class="dropdown-item" href="#">
                <img class="avatar avatar-xss avatar-4x3 me-2"
                     src="{% static 'assets/images/options/placeholder-csv-format.svg' %}"
                     alt="Image Description">
                .CSV
            </a>
            <a id="export-pdf" class="dropdown-item" href="#">
                <img class="avatar avatar-xss avatar-4x3 me-2"
                     src="{% static 'assets/images/options/pdf-icon.svg' %}" alt="Image Description">
                PDF
            </a>
        </div>
    </div>
    <!-- End Dropdown -->

</div>


