<!-- Modal -->
<div class="modal fade" id="myModalSearchProducts" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" data-bs-backdrop="false">
        <div class=" modal-content app-card app-card-orders-table">

            <div class="modal-header app-card-header  p-2 border-bottom-0">
                <h3 class="modal-title app-card-title justify-content-between align-items-center">
                    <div class="app-icon-holder">
                        <i class="bi bi-search fa-2x" style="line-height: 0;"></i>
                    </div>
                    Búsqueda de Productos
                </h3>
                <hr>
            </div>

            <div class="modal-body app-card-body app-card-orders-table p-3 mt-auto">
                <table class="table app-table-hover mb-0 text-left " id="tblSearchProducts">
                    <thead>
                    <tr>
                        <th class="cell">Producto</th>
                        <th class="cell">Imagen</th>
                        <th class="cell">Stock</th>
                        <th class="cell">Categoría</th>
                        <th class="cell">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>