<div class="col-auto">
    <nav>
{#    <nav style="--bs-breadcrumb-divider: '>';">#}

        <ol class="breadcrumb">

            <li class="breadcrumb-item"><a href="/">
                <span class="nav-icon"></span>
                <i class="bi bi-house-door"></i>
                {% if request.resolver_match.url_name == 'home' %} Inicio {% endif %}</a></li>
            <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
            <li class="breadcrumb-item active">{{ title }}</li>
        </ol>

    </nav>
</div>