{% load static %}

<div class="text-center p-4">
    <img class="mb-3" src="{% static 'assets/images/oc-error.svg' %}" alt="Image Description" style="width: 10rem;"
         data-hs-theme-appearance="default">
    {#    <img class="mb-3" src="./assets/svg/illustrations-light/oc-error.svg" alt="Image Description" style="width: 10rem;"#}
    {#         data-hs-theme-appearance="dark">#}
    <p class="mb-0">No hay datos para mostrar</p>
</div>


{#<div class="col-md-6 col-lg-12" data-aos="zoom-in" data-aos-delay="200">#}
{#    <header class="section-header">#}
{#        <div class="box">#}
{#            <h3> Lo sentimos 😢</h3>#}
{#            <p>No encontramos ningún producto,#}
{#                <a href="{% url 'product_create' %} " class="text-primary">Registre un#}
{#                    producto</a>#}
{#        </div>#}
{#    </header>#}
{#</div>#}
