{% load groups_tags %}
{% load static %}
<!-- ======= Header ======= -->
<header id="header" class="app-header fixed-top">

    <div class="app-header-inner">
        <div class="container-fluid py-2">
            <div class="app-header-content">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <a id="sidepanel-toggler" class="sidepanel-toggler d-inline-block d-xl-none" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
                                 role="img">
                                <title>Menu</title>
                                <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10"
                                      stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                            </svg>
                        </a>
                    </div>
                    <!--//col-->

                    <div class="app-utilities col-auto">
                        {% include 'includes/_app_notifications_dropdown.html' %}
                        {% if user.is_authenticated %}
                            <div class="app-utility-item app-user-dropdown dropdown">
                                <a class="dropdown-toggle align-content-center" id="user-dropdown-toggle"
                                   data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    <img src="{{ request.user.get_image }}" class="rounded-circle" alt="user profile">
                                    <span class="">{{ request.user.get_short_name }}</span>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="user-dropdown-toggle">
                                <span class="dropdown-header" style="font-size: 12px;">
                                    <div class="info">
                                        <a class="d-block">{{ request.user.get_full_name }}</a>
                                    </div>
                                    Sú último acceso fue {{ request.user.last_login }}
                                </span>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'profile_details' %}">
                                        <span style="font-size: 15px;">
                                            <i class="bi bi-person"></i> Mi Perfil
                                        </span>
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'user_change_password' %}">
                                        <span style="font-size: 15px;">
                                            <i class="bi bi-key"></i> Cambiar contraseña
                                        </span> </a>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item align-items-center"
                                            {#href="{% url 'logout' %}?next={{ request.path | urlencode }}">#}
                                           href="{% url 'logout' %}?next={{ request.path }}">
                                        <span style="font-size: 15px;">
                                            <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                                        </span>
                                    </a>
                                    </li>
                                </ul>
                            </div><!--//app-user-dropdown-->
                        {% endif %}
                    </div><!--//app-utilities-->
                </div><!--//row-->
            </div><!--//app-header-content-->
        </div><!--//container-fluid-->
    </div><!--//app-header-inner-->

    <div id="app-sidepanel" class="app-sidepanel">
        <div id="sidepanel-drop" class="sidepanel-drop"></div>
        <div class="sidepanel-inner d-flex flex-column">
            <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
            <div class="app-branding">
                <a class="app-logo" href="/">
                    <img class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo">
                    <span class="logo-text">GEPRE</span>
                </a>
            </div>
            <!--//app-branding-->

            <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
                <ul class="app-menu list-unstyled accordion" id="menu-accordion">
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="{% if request.resolver_match.url_name == 'home' %} active {% endif %} nav-link"
                           href="/">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
                                    <path fill-rule="evenodd"
                                          d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                </svg>
                            </span>
                            <span class="nav-link-text">Inicio</span>
                        </a>
                        <!--//nav-link-->
                    </li><!--//nav-item-->

                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link
                            {% if request.resolver_match.url_name == 'order_all_list' %} active {% endif %}
                            {% if request.resolver_match.url_name == 'order_detail' %} active {% endif %}
                            " href="{% url 'order_all_list' %}">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"></path>
                                </svg>
                            </span>
                            <span class="nav-link-text">Pedidos</span>
                        </a>
                        <!--//nav-link-->
                    </li><!--//nav-item-->
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link
                            {% if request.resolver_match.url_name == 'loan_list' %} active
                            {% elif request.resolver_match.url_name == 'loan_create' %} active
                            {% elif request.resolver_match.url_name == 'loan_detail' %} active
                            {% endif %}" href="{% url 'loan_list' %}">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"></path><path
                                        d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                </svg>

                            </span>
                            <span class="nav-link-text">Préstamos</span>
                        </a>
                        <!--//nav-link-->
                    </li><!--//nav-item-->
                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link
                            {% if request.resolver_match.url_name == 'inventory_list' %} active
                            {% elif request.resolver_match.url_name == 'product_detail' %} active
                            {% elif request.resolver_match.url_name == 'product_update' %} active
                            {% elif request.resolver_match.url_name == 'product_create' %} active
                            {% endif %}" href="{% url 'inventory_list' %}">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
                                    <path fill-rule="evenodd"
                                          d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
                                </svg>
                            </span>
                            <span class="nav-link-text">Inventario</span>
                        </a>
                        <!--//nav-link-->
                    </li><!--//nav-item-->
                    <li class="nav-item has-submenu">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link submenu-toggle
                        {% if request.resolver_match.url_name == 'report_loan' %} active
                        {% elif request.resolver_match.url_name == 'report_inventory' %} active
                        {% endif %}" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-2"
                           aria-expanded="false" aria-controls="submenu-2">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path fill-rule="evenodd"
                                          d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>

                            </span>
                            <span class="nav-link-text">Reportes</span>
                            <span class="submenu-arrow">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </span>
                            <!--//submenu-arrow-->
                        </a>
                        <!--//nav-link-->
                        <div id="submenu-2" class="collapse submenu submenu-2
                                            {% if request.resolver_match.url_name == 'reports:report_loan' %} show
                                            {% elif request.resolver_match.url_name == 'report_inventory' %} show
                                            {% endif %}" data-bs-parent="#menu-accordion">

                            <ul class="submenu-list list-unstyled">
                                <li class="submenu-item"><a class="submenu-link
                                        {% if request.resolver_match.url_name == 'reports:report_loan' %} active {% endif %}"
                                                            href="{% url 'reports:report_loan' %}">Préstamos</a></li>
                                <li class="submenu-item">
                                    <a class="submenu-link
                                    {% if request.resolver_match.url_name == 'reports:report_inventory' %} active {% endif %}"
                                       href="{% url 'reports:report_inventory' %}">Inventario</a>
                                </li>
                            </ul>
                        </div>
                    </li><!--//nav-item-->

                    <li class="nav-item">
                        <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                        <a class="nav-link {% if request.resolver_match.url_name == 'notifications_list' %} active {% endif %}"
                           href="{% url 'notifications_list' %}">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell icon"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"></path>
                                    <path fill-rule="evenodd"
                                          d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z">
                                    </path>
                                </svg>
                            </span>
                            <span class="nav-link-text">Notificaciones</span>
                        </a>
                        <!--//nav-link-->
                    </li><!--//nav-item-->

                </ul><!--//app-menu-->
            </nav><!--//app-nav-->

            <div class="app-sidepanel-footer">
                <nav class="app-nav app-nav-footer">
                    <ul class="app-menu footer-menu list-unstyled">
                        <li class="nav-item has-submenu ">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link submenu-toggle
                        {% if request.resolver_match.url_name == 'profile_details' %} active
                        {% elif request.resolver_match.url_name == 'profile_update' %} active
                        {% endif %}" href="#" data-bs-toggle="collapse" data-bs-target="#submenu-1"
                               aria-expanded="false" aria-controls="submenu-1">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                                    </path>
                                </svg>
                            </span>
                                <span class="nav-link-text">Mi Perfil</span>
                                <span class="submenu-arrow">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </span>
                                <!--//submenu-arrow-->
                            </a>
                            <!--//nav-link-->
                            <div id="submenu-1" class="collapse submenu submenu-1
                                            {% if request.resolver_match.url_name == 'profile_details' %} show
                                            {% elif request.resolver_match.url_name == 'profile_update' %} show
                                            {% endif %}" data-bs-parent="#menu-accordion">


                                <ul class="submenu-list list-unstyled">
                                    <li class="submenu-item ">
                                        <a class="submenu-link {% if request.resolver_match.url_name == 'profile_details' %} active {% endif %}"
                                           href="{% url 'profile_details' %}">Ver perfil
                                        </a>
                                    </li>
                                    <li class="submenu-item ">
                                        <a class="submenu-link {% if request.resolver_match.url_name == 'profile_update' %} active {% endif %} "
                                           href="{% url 'profile_update' %}">Editar perfil</a>
                                    </li>
                                    <li class="submenu-item">
                                        <a class="submenu-link {% if request.resolver_match.url_name == 'user_change_password' %} active {% endif %}"
                                           href="{% url 'user_change_password' %}">Cambiar contraseña
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--//nav-item-->
                        <li class="nav-item">
                            <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                            <a class="nav-link"
                               href="{% url 'logout' %}?next={{ request.path }}">
                            <span class="nav-icon">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-right"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                 <path fill-rule="evenodd"
                                       d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>

                            </span>
                                <span class="nav-link-text">Cerrar sesión</span>
                            </a>
                            <!--//nav-link-->
                        </li><!--//nav-item-->

                    </ul>
                </nav><!--//footer-menu-->
            </div><!--//app-sidepanel-footer-->

        </div><!--//sidepanel-inner-->
    </div><!--//app-sidepanel-->
</header><!-- #header -->
