{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

    {#    <!-- DataTables CSS -->#}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>
    <div class="form-group settings-form ">
    </div>

{% endblock %}


{% block javascript %}
    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>


    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/r-2.2.6/datatables.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#LoanTabla').DataTable({
                //  dom: 'Bfrtip',
                //  buttons: [
                //      'copy', 'csv', 'excel', 'pdf', 'print'
                //  ],
                select: {
                    style: 'multi'
                },
                "order": [], // Ajusta si necesitas un orden predeterminado
                "columnDefs": [
                    {"orderable": false, "targets": [0, -1]} // Ajusta las columnas no ordenables
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                },
                "paging": true,
                "ordering": true,
                "searching": true,

                "isResponsive": false,
                "isShowPaging": false,
                "pagination": "datatableWithPaginationPagination",

                "initComplete": function () {
                    var table = $('#LoanTabla').DataTable();

                    var buttons = table.buttons([
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5',
                        'pdfHtml5',
                        'print',
                        'colvis'
                    ], {
                        dropup: true
                    }).container();
                    $(buttons).appendTo('#usersExportDropdown+.dropdown-menu');
                }
            });


            $('#marcarTodos').click(function () {
                $('input[name="checkbox[]"]').prop('checked', this.checked);
                if (this.checked) {
                    $('#eliminarFilas').show();
                } else {
                    $('#eliminarFilas').hide();
                }
                $('#datatableCounter').text($('input[name="checkbox[]"]:checked').length);
                if ($('input[name="checkbox[]"]:checked').length > 0) {
                    $('#datatableCounterInfo').show();
                } else {
                    $('#datatableCounterInfo').hide();
                }
            });

            $('input[name="checkbox[]"]').click(function () {
                if ($('input[name="checkbox[]"]:checked').length > 0) {
                    $('#eliminarFilas').show();
                } else {
                    $('#eliminarFilas').hide();
                }
                $('#datatableCounter').text($('input[name="checkbox[]"]:checked').length);
                if ($('input[name="checkbox[]"]:checked').length > 0) {
                    $('#datatableCounterInfo').show();
                } else {
                    $('#datatableCounterInfo').hide();
                }
            });

            $('.eliminarFilas').click(function () {
                var fila = $(this).closest('tr');
                var id = fila.find('input[name="checkbox[]"]').val();
                $('#btnEliminar').attr('data-id', id);
                $('#confirmarEliminar').modal('show');
            });

            $('#btnEliminar').click(function () {
                var id = $(this).attr('data-id');
                eliminarFila(id);
                $('#confirmarEliminar').modal('hide');
            });


        });

        function eliminarFilas(id) {
            $.ajax({
                url: '/eliminar_fila/' + id + '/',
                type: 'POST',
                success: function (data) {
                    if (data.result == 'ok') {
                        $('input[name="checkbox[]"][value="' + id + '"]').closest('tr').remove();
                        $('#marcarTodos').prop('checked', false);
                        $('#eliminarFilas').hide();
                        $('#datatableCounterInfo').hide();
                    } else {
                        console.log(data.error);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }


        function deleteRule(id) {
            var parameters = new FormData();
            parameters.append('id', id)
            var url = `/audit/delete_rule/${id}/`

            delete_with_ajax(url, 'Confirmar Eliminación', '¿Estás seguro de que desea eliminar la regla? Esta acción no se puede deshacer.', parameters, function (response) {
                //table.ajax.reload();
                if (response.ok)
                    location.reload()
            });
        }

        function SearchAndFillModal(rule_id, is_active, check_create, check_edit, check_delete, content_type) {
            document.querySelector('#frmRuleEdit input[name=id]').value = rule_id
            document.querySelector('#frmRuleEdit input[name=is_active]').checked = is_active === 'True'
            document.querySelector('#frmRuleEdit input[name=check_create]').checked = check_create === 'True'
            document.querySelector('#frmRuleEdit input[name=check_edit]').checked = check_edit === 'True'
            document.querySelector('#frmRuleEdit input[name=check_delete]').checked = check_delete === 'True'
            document.querySelector('#frmRuleEdit #id_content_type').value = content_type
        }
    </script>
    <script>
        $('#frmRule').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: '{% url "validate_rule_form" %}',
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.success) {
                        // Si la validación es exitosa, envía el formulario normalmente
                        $('#frmRule').off('submit').submit();
                    } else {
                        // Si la validación falla, muestra los mensajes de error correspondientes
                        var errors = JSON.parse(data.errors);
                        for (var field in errors) {
                            // var errorMessage = errors[field][0];
                            var errorMessage = errors[field][0]['message'];

                            var $field = $('#id_' + field);
                            $field.addClass('is-invalid');
                            $field.after('<span class="invalid-feedback">' + errorMessage + '</span>');
                        }
                    }
                },
            });
        });
    </script>


{% endblock %}


{% block content %}

    <div class="app-wrapper">
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-md-4">
                        <h1 class="app-page-title mb-0">{{ entity }}</h1>
                        {% include "includes/_breadcrumbs.html" %}
                    </div>
                    <div class="col-md-8">
                        <div class="page-utilities ">

                        </div><!--//row-->
                    </div><!--//table-utilities-->
                </div><!--//col-auto-->
            </div><!--//row-->


            <div class="app-card app-card-basic align-items-start shadow-sm">

                <div class="app-card-header p-3 border-bottom-0">
                    <div class="row  justify-content-between align-items-center gx-3">
                        <div class="col-auto">
                            <div class="row align-items-center gx-3">
                                <div class="col-auto">
                                    <div class="app-icon-holder">
                                        <i class="fas fa-user-secret fa-xl"></i>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <h4 class="app-card-title">{{ title }}</h4>
                                </div><!--//col-->
                            </div>

                        </div><!--//col-->

                        <!--Botones de Adicionar regla-->

                        <div class="col-auto">
                            <div class="col-auto">
                                <a class="btn app-btn-primary" href="#" data-bs-toggle="modal"
                                   data-bs-target="#createRuleModel">
                                    <i class="fas fa-plus"></i>
                                    Crear Regla</a>
                            </div>

                        </div><!--//col-->
                    </div><!--//row-->
                    <hr>
                </div><!--//app-card-header-->


                <div class="form-group settings-form ">

                    <div class="app-card-body app-card-orders-table px-3">
                        {% if object_list %}
                            <div class="table-responsive">
                                <table id="LoanTabla" class="table app-table-hover mb-0 text-left">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="cell" style="width: 1%;"><input type="checkbox" id="marcarTodos">
                                        </th>
                                        <th class="cell" style="width: 5%;">ACTIVO</th>
                                        <th class="cell">OBJETO</th>
                                        <th class="cell" style="width: 5%;">RASTREAR CREACIONES</th>
                                        <th class="cell" style="width: 5%;">RASTREAR MODIFICACIONES</th>
                                        <th class="cell" style="width: 5%;">RASTREAR ELIMINACIONES</th>
                                        <th class="cell" style="width: 10%;">CREADOR</th>
                                        <th class="cell" style="width: 10%;">MODIFICADOR</th>
                                        <th class="cell" style="width: 6%;">ACCIONES</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    {% for rule in rule_list %}
                                        <tr>
                                            <td class="cell">
                                                <input type="checkbox" name="checkbox[]" value="{{ object.id }}">
                                            </td>
                                            <td class="cell">
                                                {% if rule.is_active %}
                                                    <i class="bi bi-check-circle-fill text-success"></i>
                                                {% else %}
                                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                                {% endif %}
                                            </td>
                                            <td class="cell">
                                                <span>{{ rule.content_type }}</span>
                                            </td>
                                            <td class="cell">
                                                {% if rule.check_create %}
                                                    <i class="bi bi-check-circle-fill text-success"></i>
                                                {% else %}
                                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                                {% endif %}

                                            </td>
                                            <td class="cell">
                                                {% if rule.check_edit %}
                                                    <i class="bi bi-check-circle-fill text-success"></i>
                                                {% else %}
                                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                                {% endif %}

                                            </td>
                                            <td class="cell">
                                                {% if rule.check_delete %}
                                                    <i class="bi bi-check-circle-fill text-success"></i>
                                                {% else %}
                                                    <i class="bi bi-x-circle-fill text-danger"></i>
                                                {% endif %}

                                            </td>
                                            <td class="cell">
                                                <span>{{ rule.created_user }}</span>
                                            </td>
                                            <td class="cell">
                                                <span>{{ rule.modified_user }}</span>
                                            </td>

                                            <td class="cell">
                                                <button class="btn btn-sm text-primary" data-bs-toggle="modal"
                                                        data-bs-target="#editRuleModel"
                                                        onclick="SearchAndFillModal('{{ rule.id }}','{{ rule.is_active }}', '{{ rule.check_create }}', '{{ rule.check_edit }}', '{{ rule.check_delete }}', '{{ rule.content_type.id }}')"
                                                ><i class="fas fa-edit"></i>
                                                </button>
                                                <a role="button" onclick="deleteRule({{ rule.id }})"
                                                   class="btn btn-sm text-danger"><i class="fas fa-trash-alt"></i></a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div><!--//table-responsive-->
                        {% else %}
                            {% include 'includes/_no_data.html' %}
                        {% endif %}

                    </div><!--//app-card-body-->

                    <div class="app-card-footer p-4 mt-auto">
                        <div class="row justify-content-between align-items-center ">
                            <div class="col-auto">

                                <!-- Pagination -->
                                <div class="d-flex justify-content-center justify-content-sm-end">
                                    <nav id="datatableWithPaginationPagination"
                                         aria-label="Activity pagination"></nav>
                                </div>
                                <!-- End Pagination -->


                            </div><!--//col-->
                            <div class="col-auto">
                                {% include 'includes/app_pagination.html' %}
                            </div><!--//col-->
                        </div>
                    </div><!--//app-card-footer-->

                </div>


            </div><!--//container-fluid-->
        </div><!--//app-content-->
        {% include 'includes/footer.html' %}

    </div><!--//app-wrapper-->
{% endblock %}


{% block modal %}
    <!-- Modal de crear regla -->
    <div class="modal fade" id="createRuleModel" tabindex="-1" role="dialog" aria-labelledby="createRuleModelLabel"
         style="display: none;" aria-hidden="true">
        <form id="frmRule" class="needs-validation" novalidate method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-8">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createRuleModelLabel">Agregar regla</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <!--Form-->
                        <input name="action" type="hidden" value="createRule">
                        <div class="md-4">
                            <div class="form-group py-1">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.is_active class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">Está
                                                activo
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.check_edit class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">Rastrear
                                                modificaciones</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.check_create class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">Rastrear
                                                creaciones</label>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.check_delete class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">Rastrear
                                                eliminaciones</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group py-1">
                                <strong class="form-label mb-2">{{ RuleForm.content_type.field.label }}</strong>
                                {% render_field RuleForm.content_type class="form-select" %}
                            </div>
                        </div>
                        <!--End Form-->
                    </div>
                    <!--End Body-->

                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ghost-light" data-bs-dismiss="modal" aria-label="Cancel">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="editRuleModel" tabindex="-1" role="dialog" aria-labelledby="createRuleModelLabel"
         style="display: none;" aria-hidden="true">
        <form id="frmRuleEdit" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-8">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createRuleModelLabel">Editar regla</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <!--Form-->
                        <input name="action" type="hidden" value="editRule">
                        <input name="id" type="hidden" value="">
                        <div class="md-4">
                            <div class="form-group py-1">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.is_active class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">
                                                <strong>Está activo</strong>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.check_edit class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">
                                                <strong>Rastrear modificaciones</strong>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.check_create class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">
                                                <strong>Rastrear creaciones</strong>
                                            </label>
                                        </div>
                                    </div>


                                    <div class="col-6">
                                        <div class="form-check form-switch">
                                            {% render_field RuleForm.check_delete class="form-check-input" type="checkbox" %}
                                            <label for="" class="form-check-label form-label">
                                                <strong>Rastrear eliminaciones</strong>
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group py-1">
                                    <strong class="form-label mb-2">{{ RuleForm.content_type.field.label }}</strong>
                                    {% render_field RuleForm.content_type class="form-select" %}
                                </div>

                            </div>
                        </div>
                        <!--End Form-->
                    </div>
                    <!--End Body-->

                    <!--Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-ghost-light" data-bs-dismiss="modal" aria-label="Cancel">
                            Cancelar
                        </button>
                        <button type="submit" class="btn app-btn-primary">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
