{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}  <!--Para cargar las clases de Boostrap en los campos del formulario-->

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">

    {#    <!-- DataTables CSS -->#}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>
        <div class="form-group settings-form ">
    </div>

{% endblock %}


{% block javascript %}
    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>


    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.22/b-1.6.5/b-html5-1.6.5/r-2.2.6/datatables.min.js"></script>
{% endblock %}

    <form method="post"/> <!--especifica como enviar los datos al formulario (method=post indica que los datos del formulario no se muestran en la barra de direcciones del navegador)-->
        {% block content %} <!--Se usa para la herencia de plantillas-->
            {{ form.description }}

        {% endblock %}