{% extends 'includes/list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'category/js/list.js' %}"></script>
{% endblock %}

{% include "includes/_modal.html" %}

{% block columns %}
    <tr>
        <th class="cell" scope="col" style="width: 10%;">Nro</th>
        <th class="cell" scope="col" style="width: 70%;">Nombre</th>
        <th class="cell" scope="col" style="width: 20%;"></th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block form-group %}
    <div class="form-group settings-form ">
        <div class=" mb-3">
            <a href="{{ create_url }}" class="btn app-btn-primary">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>
{#            <button class="btnCreate btn app-btn-primary" type="button">#}
{#                <i class="fas fa-plus"></i> Adicionar#}
{#            </button>#}
            <a href="{{ list_url }}" class="btn app-btn-secondary">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
