{% extends "inventory/detail_product.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content2 %}
    <div class="container-xl">
        <nav id="table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
            <a class="flex-sm-fill text-sm-center nav-link" id="orders-all-tab"
               href="{% url 'inventory:detail' object.pk %}" aria-controls="detail-product"
               aria-selected="true">Detalles</a>
            <a class="flex-sm-fill text-sm-center nav-link active" id="orders-paid-tab" data-bs-toggle="tab"
               href="#edit-product" role="tab" aria-controls="edit-product" aria-selected="true">Editar producto</a>
        </nav>
        <!--//table-tab-->
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="detail-product" role="tabpanel"
                 aria-labelledby="detail-product-tab">
                <div class="app-card  h-100 shadow-sm shadow-sm d-flex flex-column align-items-start mb-5">
                    <form enctype="multipart/form-data" method="post" action="" class="settings-form row">
                        {% csrf_token %}
                        <div class=" app-card-header p-3 border-bottom-0">
                            <div class="row align-items-center gx-3">
                                <div class="col-auto">
                                    <div class="app-icon-holder">
                                        <span class="nav-icon"><i style=" width: 24px;
            height: 24px; border-radius: 0.25rem; vertical-align: middle;     box-sizing: border-box;
            text-align: center;margin: 0.25rem; font-size: 1.5rem;" class="bi bi-pencil-square"></i>
                                        </span>
                                    </div>
                                    <!--//icon-holder-->
                                </div>
                                <!--//col-->
                                <div class="col-auto">
                                    <h4 class="app-card-title">Editar producto</h4>
                                </div>
                                <!--//col-->
                            </div>
                            <!--//row-->
                        </div>
                        <!--//app-card-header-->

                        <div class="app-card-body px-4 w-100">

                            <div class="row mb-3">
                                <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Imagen del
                                    producto</label>
                                <div class=" col-lg-9">
                                    <div class="drop-zone">
                                            <span class="drop-zone__prompt">
                                                <!-- {% render_field form.img class="drop-zone__input" type="file" %} -->
                                                <img src="{% url 'home' %}media/{{ object.img }}" width="100%"
                                                     height="100%"
                                                     alt="">

                                            </span>


                                    </div>

                                    <div class="pt-2">
                                        <a href="#" class="btn app-btn-primary btn-sm" title="Subir una nueva imagen"><i
                                                class="bi bi-upload"></i></a>
                                        <a href="#" class="btn app-btn-secondary" title="Eliminar imagen actual"><i
                                                class="bi bi-trash"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 form-label">Nombre del producto</label>
                                <div class="col-md-8 col-lg-9">
                                    {% render_field form.name class="form-control" type="text" %}

                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="about" class="col-md-4 col-lg-3 col-form-label">Categoría</label>
                                <div class="col-md-8 col-lg-9">
                                    {% render_field form.category class="form-select" placeholder="First Name" type="text" %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">Estado</label>
                                <div class="col-md-8 col-lg-9">
                                    {% render_field form.state class="form-select" placeholder="First Name" type="text" %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Job" class="col-md-4 col-lg-3 col-form-label">Cantidad de unidades</label>
                                <div class="col-md-8 col-lg-9">
                                    {% render_field form.stock class="form-control" type="number" name="unidades" min="1" max="50" step="1" required="required" %}
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Country" class="col-md-4 col-lg-3 col-form-label">Disponibilidad</label>
                                <div class="col-md-8 col-lg-9">
                                    <div class="form-check form-switch">
                                        {% render_field form.available class="form-check-input" name="available" id="id_available" type="checkbox" %}
                                        {% if form.available == 'true' %}
                                            <span class="badge bg-success"> Disponible </span>
                                        {% elif form.available == 'false' %}
                                            <span class="badge bg-warning"> Prestado </span>
                                        {% endif %}
                                        <label for="id_available" class="form-check-label form-label">
                                            {% render_field form.available.help_text %}</label>
                                        <span class="help-block valid-feedback text-black-50">{{ form.available.help_text }}</span>
                                        <span class="help-block valid-feedback text-black-50">{{ form.available.error_messages }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Country" class="col-md-4 col-lg-3 col-form-label">Activo</label>
                                <div class="col-md-8 col-lg-9">
                                    <div class="form-check form-switch">
                                        {% render_field form.active class="form-check-input" name="active" id="id_active" type="checkbox" %}
                                        <label for="id_active" class="form-check-label form-label">
                                            {% render_field form.active.help_text %}</label>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!--//app-card-body-->
                        <div class="app-card-footer p-4 mt-auto row justify-content-between">
                            <div class="col-auto">

                            </div>
                            <div class="col-auto">
                                <button id="delete-inventory" type="button"
                                        class="delete-inventory btn app-btn-secondary"
                                        data-id="{% url 'inventory:delete' object.pk %}">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash me-2"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd"
                                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                    Eliminar producto
                                </button>
                                <button type="submit" class="btn app-btn-primary">Guardar cambios</button>
                            </div>
                        </div>     <!--//app-card-footer-->
                    </form>
                </div>
                <!--//app-card-->
            </div>
            <!--//tab-pane-->
        </div>
        <!--//tab-content-->
    </div>
    <!--//container-xl-->
{% endblock %}