{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}
{% load widget_tweaks %}

{% block content %}
    <div class="app app-reset-password p-0">
        <div class="row g-0 app-auth-wrapper">
            <div class="col-12 col-md-7 col-lg-6 auth-main-col  p-5">
                <div class="d-flex flex-column align-content-end">
                    <div class="app-auth-body mx-auto">
                        <div class="app-auth-branding mb-4 text-center"><a class="app-logo" href="{% url 'home' %}"><img
                                class="logo-icon me-2" src="{% static 'assets/images/app-logo.svg' %}" alt="logo"></a>
                        </div>
                        <h2 class="auth-heading text-center mb-4">Cambiar Contraseña</h2>

                        <div class="auth-intro mb-4 text-center">Usted esta a punto de cambiar su contraseña, tenga en cuenta recordarla para la proxima sesión.
                        </div>

                        <div class="auth-form-container">

                            <form class="auth-form resetpass-form app-card-settings" action=".." method="post">
                                <input type="hidden" name="next" value="{{ next }}">
                                {% csrf_token %}
                                <div class="container-fluid">
                                    <input type="hidden" name="action" value="{{ action }}">
                                    {% if form.errors %}
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                                ×
                                            </button>
                                            <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar
                                                el registro</h5>
                                            <ul>
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group py-1">
                                            <label for="email" class="form-label">{{ field.label }}:</label>
                                            {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                        </div>
                                    {% endfor %}
                                </div><!--//form-group-->
                                <div class="email mb-3">
                                    <label class="sr-only" for="reg-email">Your Email</label>
                                    {{ form.username }}
                                </div><!--//form-group-->
                                <div class="text-center">
                                    <button type="submit" class="btn app-btn-primary btn-block theme-btn mx-auto">
                                        Cambiar Contraseña
                                    </button>
                                </div>
                            </form>

                            <div class="auth-option text-center pt-5"><a class="app-link" href="{% url 'home' %}">
                                Inicio </a>
                            </div>
                        </div><!--//auth-form-container-->
                    </div><!--//auth-body-->

                    <footer class="app-auth-footer">
                        <div class="container text-center py-3">
                            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                            <small class="copyright">Desarrollado y diseñado con <i class="fas fa-heart"
                                                                                    style="color: #fb866a;"></i> por <a
                                    class="app-link" href="https://github.com/yurier98" target="_blank">Yurier
                                Herrera</a> para la tesis
                                <br>
                                Todos los derechos reservados.</small>
                        </div>
                    </footer><!--//app-auth-footer-->
                </div><!--//flex-column-->
            </div><!--//auth-main-col-->
            <div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
                <div class="auth-background-holder">
                </div>
                <div class="auth-background-mask"></div>
                <div class="auth-background-overlay p-3 p-lg-5">
                    <div class="d-flex flex-column align-content-end h-100">
                        <div class="h-100"></div>
                        <div class="overlay-content p-3 p-lg-4 rounded">
                            <h5 class="mb-3 overlay-title">Explore Portal Admin Template</h5>
                            <div>Portal is a free Bootstrap 5 admin dashboard template. You can download and view the
                                template license <a
                                        href="https://themes.3rdwavemedia.com/bootstrap-templates/admin-dashboard/portal-free-bootstrap-admin-dashboard-template-for-developers/">here</a>.
                            </div>
                        </div>
                    </div>
                </div><!--//auth-background-overlay-->
            </div><!--//auth-background-col-->

        </div><!--//row-->
        <script type="application/javascript">
            $(function () {
                $('form').on('submit', function (e) {
                    e.preventDefault();
                    var parameters = new FormData(this);
                    submit_with_ajax(pathname, 'Notificación', '¿Estas seguro de resetear tu contraseña?', parameters, function () {
                        Swal.fire({
                            title: 'Notificación',
                            text: 'Se ha enviado un correo electrónico con los pasos a seguir para que pueda resetear su contraseña',
                            icon: 'success',
                            timer: 5000,
                            onClose: () => {
                                location.href = '/';
                            }
                        }).then((result) => {

                        });
                    });
                });
            });
        </script>
    </div>
{% endblock %}

