{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}
    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                {% include "includes/_breadcrumbs.html" %}
                <hr class="mb-4">
                <div class="row g-4 settings-section">
                    <div class="col-12 col-md-4">

                        <div class="app-card shadow-sm p-4 d-flex flex-column align-items-center">
                            <div class="app-card-body pt-4 profile-image ">
                                <img src="{{ request.user.get_image }}"
                                     style="width: 200px; height: 200px; border-radius: 50%;"
                                     class="rounded-circle" alt="user profile">

                                <div class="app-card-footer p-3 align-items-center">
                                    <h3>{{ request.user.get_short_name }}</h3>
                                    <div class="info ">
                                        {% if request.user.groups.all.count > 1 %}
                                            <p>hola</p>

                                            {% for g in request.user.groups.all %}
                                                <p class="text-info">
                                                    {{ request.user.groups.all }}
                                                </p>
                                                {{ g.name }}

                                                {% if g.id != request.session.group.id %}
                                                    <div class=" p-2">
                                                        <div class="info p-2">
                                                            {{ g.name }}
                                                            </a>
                                                        </div>
                                                    </div><!--//item-->
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        <p class="text-info">
                                            {{ request.user.groups.all }}

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-12 col-md-8">

                        <nav id="orders-table-tab"
                             class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
                            <a class="flex-sm-fill text-sm-center nav-link
                                {% if request.resolver_match.url_name == 'home' %} active {% endif %}"
                               id="orders-all-tab"
                               href="{% url 'user_update_profile' %}" aria-controls="detail-product"
                               aria-selected="true">Detalles del perfil</a>
                            <a class="flex-sm-fill text-sm-center nav-link
                             {% if request.resolver_match.url_name == 'user_update_profile' %} active {% endif %}"
                               id="orders-all-tab"
                               href="{% url 'user_update_profile' %}" aria-controls="detail-product"
                               aria-selected="true">Editar perfil</a>
                        </nav>

                        <div class="tab-content" id="orders-table-tab-content">
                            <div class="tab-pane fade show active" id="detail-product" role="tabpanel"
                                 aria-labelledby="detail-product-tab">

                                <div class="app-card app-card-settings shadow-sm p-3">
                                    <form method="post" action="." enctype="multipart/form-data">
                                        <div class="app-card-header p-1 border-bottom-0">
                                            <div class="row justify-content-between align-items-center gx-3">
                                                <div class="col-auto">
                                                    <div class="row align-items-center gx-3">
                                                        <div class="col-auto">
                                                            <div class="app-icon-holder">
                                                                <svg width="1em" height="1em" viewBox="0 0 16 16"
                                                                     class="bi bi-person"
                                                                     fill="currentColor"
                                                                     xmlns="http://www.w3.org/2000/svg">
                                                                    <path fill-rule="evenodd"
                                                                          d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                                                                </svg>

                                                            </div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <h4 class="app-card-title">{{ title }}</h4>
                                                        </div><!--//col-->
                                                    </div>

                                                    <!--//icon-holder-->
                                                </div><!--//col-->
                                                <div class="col-auto">
                                                    {% block form-group %} {% endblock %}
                                                </div><!--//col-->
                                            </div><!--//row-->
                                            <hr>
                                        </div><!--//app-card-header-->

                                        <div class="app-card-body ">
                                            <div class=" settings-form p-3">
                                                {% csrf_token %}
                                                <input type="hidden" name="action" value="{{ action }}">
                                                {% if form.errors %}
                                                    <div class="alert alert-danger alert-dismissible">
                                                        <button type="button" class="close" data-dismiss="alert"
                                                                aria-hidden="true">×
                                                        </button>
                                                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al
                                                            querer guardar el registro</h5>
                                                        <ul>
                                                            {% for field in form %}
                                                                {% for error in field.errors %}
                                                                    <li>{{ error }}</li>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                                {% for field in form.visible_fields %}
                                                    <div class="form-group mb-3">
                                                        <label class="form-label" for="email">{{ field.label }}:</label>
                                                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div><!--//app-card-body-->
                                        <div class="app-card-footer p-3">
                                            <button type="submit" class="btn app-btn-primary ">
                                                <i class="fas fa-save"></i> Guardar registro
                                            </button>
                                            <a href="{{ list_url }}" class="btn app-btn-secondary">
                                                <i class="fas fa-times"></i> Cancelar
                                            </a>
                                        </div><!--//app-card-footer-->
                                    </form>
                                </div><!--//app-card-->

                            </div><!--//tab-pane-->
                        </div><!--//tab-content-->


                    </div>
                </div><!--//row-->
            </div><!--//container-fluid-->
        </div><!--//app-content-->


    </div><!--//app-wrapper-->
    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        $(function () {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameters = new FormData(this);
                submit_with_ajax(pathname, 'Notificación', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                    location.href = '{{ list_url }}';
                });
            });
        });


    </script>
{% endblock %}
