{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    {% include "includes/_modal.html" %}
    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">

                <div class="row g-3 mb-4 align-items-center justify-content-between">


                    {% include "includes/_breadcrumbs.html" %}

                </div><!--//row-->

                <div class="row g-4 settings-section">
                    <div class="col-12 col-md-4">
                        <h3 class="section-title">Realizar prestamos</h3>
                        <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. <a href="help.html">Learn more</a></div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="app-card app-card-settings shadow-sm p-4">

                            <div class="app-card-body">
                                <form class="settings-form row g-3" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}

                                    <div class=" mb-3">
                                        <label for="setting-input-2" class="form-label">Usuario</label>
                                        <div class="input-group ">
                                            <span class="input-group-text">@</span>
                                            <input type="text" class="form-control" placeholder="Username">
                                        </div>
                                    </div>

                                    <div class="mb-3 ">
                                        <label for="setting-input-2" class="form-label">Usuario</label>
                                        <input type="text" class="form-control" id="setting-input-2" value="Steve Doe"
                                               required>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="inputDateI" class="form-label">Fecha de inicio</label>
                                        <input type="date" class="form-control" id="inputDateI">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputDateF" class="form-label">Fecha de entrega</label>
                                        <input type="date" class="form-control" id="inputDateF">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputState" class="form-label">Manifestación</label>
                                        <select id="inputState" class="form-select">
                                            <option selected="">Seleccione...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputPassword" class="form-label">Descripción</label>
                                        <textarea class="form-control" style="height: 100px"></textarea>

                                    </div>
                                    <div class="mb-3">
                                        <label for="setting-input-1" class="form-label">Business Name<span class="ms-2"
                                                                                                           data-container="body"
                                                                                                           data-bs-toggle="popover"
                                                                                                           data-trigger="hover"
                                                                                                           data-placement="top"
                                                                                                           data-content="This is a Bootstrap popover example. You can use popover to provide extra info."><svg
                                                width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
  <circle cx="8" cy="4.5" r="1"/>
</svg></span></label>
                                        <input type="text" class="form-control" id="setting-input-1"
                                               value="Lorem Ipsum Ltd." required>
                                    </div>

                                    <div class="mb-3">
                                        <div class="tab-content" id="orders-table-tab-content">
                                            <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                                                 aria-labelledby="orders-all-tab">
                                                <div class="app-card app-card-orders-table shadow-sm mb-5">
                                                    <div class="app-card-body">
                                                        <div class="table-responsive">
                                                            <table class="table app-table-hover mb-0 text-left">
                                                                <thead>
                                                                <tr>
                                                                    <th class="cell">Producto</th>
                                                                    <th class="cell">Cantidad</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td class="cell"><span
                                                                            class="truncate">Pantalon de hilo blanco</span>
                                                                    </td>
                                                                    <td class="cell"><span
                                                                            class="truncate">2 </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td
                                                                            class=""><a class="buscar-producto"
                                                                                        href="{% url 'loan:search_product' %}"
                                                                                        role="button">Agregar
                                                                        un producto</a>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div><!--//table-responsive-->
                                                    </div><!--//app-card-body-->
                                                </div><!--//app-card-->
                                            </div><!--//tab-pane-->
                                        </div><!--//tab-content-->
                                    </div>

                                    <div class="row justify-content-between">
                                        <div class="col-auto">
                                            <button type="submit" class="btn app-btn-primary">Realizar préstamo</button>
                                        </div>
                                        <div class="col-auto">
                                            <a class="btn app-btn-secondary" href="#">Cancel Plan</a>
                                        </div>
                                    </div>

                                </form>
                            </div><!--//app-card-body-->

                        </div><!--//app-card-->
                    </div>
                </div><!--//row-->

            </div>


        </div><!--//container-fluid-->
    </div><!--//app-content-->

    {% include 'includes/footer.html' %}
    </div><!--//app-wrapper-->
{% endblock %}




{% block extrascripts %}
    <script type="text/javascript">
    $(function () {

        // Create book button
        $(".buscar-producto").modalForm({ formURL: "{% url 'loan:search_product' %}" });

        // Update book buttons
        $(".update-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

        // Read book buttons
        $(".read-book").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

        // Delete reservacion buttons
        $(".delete-reservacion").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        })

        // Hide message
        $(".alert").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert").slideUp(500);
        });

    });









    </script>
{% endblock extrascripts %}


