<!-- ======= Footer ======= -->
<footer class="app-footer">
    <div class="container text-center py-3">
        <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Desarrollado y diseñado con <i class="fas fa-heart" style="color: #fb866a;"></i> por <a
                class="app-link" href="https://github.com/yurier98" target="_blank">Yurier Herrera</a> para la tesis
            <br>
            Todos los derechos reservados.</small>

    </div>
</footer>
<!-- End Footer -->